# Ejecutables
malla_poligonal
malla_poligonal.exe
p
p.exe

# Archivos de salida generados
*.out

# IDE
.vscode/
.idea/

# Build
build/
cmake-build-debug/
cmake-build-release/

# Archivos de objeto
*.o
*.obj

# JSON
*.json